In [40]:
import numpy as np
import pandas as pd

In [41]:
movies = pd.read_csv('/Users/ishaqbasha/Machine_Learning/Campus_X/campusxdatascience/Pandas/Pandas_DataSets/imdb-top-1000.csv')

In [42]:
movies.sample(5)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
499,Fantastic Mr. Fox,2009,87,Animation,7.9,Wes Anderson,George Clooney,199696,21002919.0,83.0
894,Creed,2015,133,Drama,7.6,Ryan Coogler,Michael B. Jordan,247666,109767581.0,82.0
947,Harry Potter and the Sorcerer's Stone,2001,152,Adventure,7.6,Chris Columbus,Daniel Radcliffe,658185,317575550.0,64.0
454,The Best Years of Our Lives,1946,170,Drama,8.0,William Wyler,Myrna Loy,57259,23650000.0,93.0
515,Mulholland Dr.,2001,147,Drama,7.9,David Lynch,Naomi Watts,322031,7220243.0,85.0

In [43]:
movies.shape

(1000, 10)

In [44]:
genres = movies.groupby('Genre')

In [45]:
# Apply builtin aggregation functions on groupby objects
genres.sum()

           Runtime  IMDB_Rating  No_of_Votes         Gross  Metascore
Genre
Action       22196       1367.3     72282412  3.263226e+10    10499.0
Adventure     9656        571.5     22576163  9.496922e+09     5020.0
Animation     8166        650.3     21978630  1.463147e+10     6082.0
Biography    11970        698.6     24006844  8.276358e+09     6023.0
Comedy       17380       1224.7     27620327  1.566387e+10     9840.0
Crime        13524        857.8     33533615  8.452632e+09     6706.0
Drama        36049       2299.7     61367304  3.540997e+10    19208.0
Family         215         15.6       551221  4.391106e+08      158.0
Fantasy        170         16.0       146222  7.827267e+08        0.0
Film-Noir      312         23.9       367215  1.259105e+08      287.0
Horror        1123         87.0      3742556  1.034649e+09      880.0
Mystery       1429         95.7      4203004  1.256417e+09      633.0
Thriller       108          7.8        27733  1.755074e+07       81.0
Western        593         33.4      1289665  5.822151e+07      313.0

In [46]:
genres.min()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,300,1924,45,7.6,Abhishek Chaubey,Aamir Khan,25312,3296.0,33.0
Adventure,2001: A Space Odyssey,1925,88,7.6,Akira Kurosawa,Aamir Khan,29999,61001.0,41.0
Animation,Akira,1940,71,7.6,Adam Elliot,Adrian Molina,25229,128985.0,61.0
Biography,12 Years a Slave,1928,93,7.6,Adam McKay,Adrien Brody,27254,21877.0,48.0
Comedy,(500) Days of Summer,1921,68,7.6,Alejandro G. Iñárritu,Aamir Khan,26337,1305.0,45.0
Crime,12 Angry Men,1931,80,7.6,Akira Kurosawa,Ajay Devgn,27712,6013.0,47.0
Drama,1917,1925,64,7.6,Aamir Khan,Abhay Deol,25088,3600.0,28.0
Family,E.T. the Extra-Terrestrial,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,7.9,F.W. Murnau,Max Schreck,57428,337574718.0,NaN
Film-Noir,Shadow of a Doubt,1941,100,7.8,Alfred Hitchcock,Humphrey Bogart,59556,449191.0,94.0
Horror,Alien,1933,71,7.6,Alejandro Amenábar,Anthony Perkins,27007,89029.0,46.0
Mystery,Dark City,1938,96,7.6,Alex Proyas,Bernard-Pierre Donnadieu,33982,1035953.0,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1965,132,7.8,Clint Eastwood,Clint Eastwood,65659,5321508.0,69.0

In [47]:
genres.mean()

              Runtime  IMDB_Rating    No_of_Votes         Gross  Metascore
Genre
Action     129.046512     7.949419  420246.581395  1.897224e+08  73.419580
Adventure  134.111111     7.937500  313557.819444  1.319017e+08  78.437500
Animation   99.585366     7.930488  268032.073171  1.784326e+08  81.093333
Biography  136.022727     7.938636  272805.045455  9.404952e+07  76.240506
Comedy     112.129032     7.901290  178195.658065  1.010572e+08  78.720000
Crime      126.392523     8.016822  313398.271028  7.899656e+07  77.080460
Drama      124.737024     7.957439  212343.612457  1.225259e+08  79.701245
Family     107.500000     7.800000  275610.500000  2.195553e+08  79.000000
Fantasy     85.000000     8.000000   73111.000000  3.913633e+08        NaN
Film-Noir  104.000000     7.966667  122405.000000  4.197018e+07  95.666667
Horror     102.090909     7.909091  340232.363636  9.405902e+07  80.000000
Mystery    119.083333     7.975000  350250.333333  1.047014e+08  79.125000
Thriller   108.000000     7.800000   27733.000000  1.755074e+07  81.000000
Western    148.250000     8.350000  322416.250000  1.455538e+07  78.250000

In [48]:
# find the top 3 genres by total earnings

movies.groupby('Genre').sum()['Gross'].sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [49]:
movies.groupby('Genre')['Gross'].sum().sort_values(ascending = False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [50]:
# find the genre with higher avg rating

movies.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending = False).head(1)

Genre
Western    8.35
Name: IMDB_Rating, dtype: float64

In [51]:
# find director with most popularity

movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending = False).head(1)

Director
Christopher Nolan    11578345
Name: No_of_Votes, dtype: int64

In [52]:
# find number of movies done by each actor
movies.groupby('Star1')['Released_Year'].count().sort_values(ascending = False).head()

Star1
Tom Hanks            12
Robert De Niro       11
Clint Eastwood       10
Al Pacino            10
Leonardo DiCaprio     9
Name: Released_Year, dtype: int64

In [53]:
# GroupBy Attributes and Methods
# find total number of groups -> len
# find items in each group -> size
# first()/last() -> nth item
# get_group -> vs filtering
# groups
# describe
# sample
# nunique

In [54]:
len(movies.groupby('Genre'))

14

In [55]:
movies['Genre'].nunique()

14

In [56]:
movies.groupby('Genre').size()

Genre
Action       172
Adventure     72
Animation     82
Biography     88
Comedy       155
Crime        107
Drama        289
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
dtype: int64

In [57]:
movies['Genre'].value_counts().sort_index()

Action       172
Adventure     72
Animation     82
Biography     88
Comedy       155
Crime        107
Drama        289
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
Name: Genre, dtype: int64

In [58]:
genres = movies.groupby('Genre')

In [59]:
genres.first() # provides the first movie in every genre

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark Knight,2008,152,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
Adventure,Interstellar,2014,169,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
Animation,Sen to Chihiro no kamikakushi,2001,125,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
Biography,Schindler's List,1993,195,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
Comedy,Gisaengchung,2019,132,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
Crime,The Godfather,1972,175,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
Drama,The Shawshank Redemption,1994,142,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
Family,E.T. the Extra-Terrestrial,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
Film-Noir,The Third Man,1949,104,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
Horror,Psycho,1960,109,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
Mystery,Memento,2000,113,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1966,161,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

In [60]:
genres.last()  # provides the last movie in every genre

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Escape from Alcatraz,1979,112,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0
Adventure,Kelly's Heroes,1970,144,7.6,Brian G. Hutton,Clint Eastwood,45338,1378435.0,50.0
Animation,The Jungle Book,1967,78,7.6,Wolfgang Reitherman,Phil Harris,166409,141843612.0,65.0
Biography,Midnight Express,1978,121,7.6,Alan Parker,Brad Davis,73662,35000000.0,59.0
Comedy,Breakfast at Tiffany's,1961,115,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
Crime,The 39 Steps,1935,86,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0
Drama,Lifeboat,1944,97,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
Family,Willy Wonka & the Chocolate Factory,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Nosferatu,1922,94,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
Film-Noir,Shadow of a Doubt,1943,108,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
Horror,The Others,2001,101,7.6,Alejandro Amenábar,Nicole Kidman,337651,96522687.0,74.0
Mystery,Lost Highway,1997,134,7.6,David Lynch,Bill Pullman,131101,3796699.0,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,The Outlaw Josey Wales,1976,135,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

In [61]:
genres.nth(6)  # gives sixth element of every genres, some genres many not be showing up bcz, 
               # 6 movies may not be available in those genres

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Star Wars: Episode V - The Empire Strikes Back,1980,124,8.7,Irvin Kershner,Mark Hamill,1159315,290475067.0,82.0
Adventure,North by Northwest,1959,136,8.3,Alfred Hitchcock,Cary Grant,299198,13275000.0,98.0
Animation,WALL·E,2008,98,8.4,Andrew Stanton,Ben Burtt,999790,223808164.0,95.0
Biography,Braveheart,1995,178,8.3,Mel Gibson,Mel Gibson,959181,75600000.0,68.0
Comedy,The Great Dictator,1940,125,8.4,Charles Chaplin,Charles Chaplin,203150,288475.0,NaN
Crime,Se7en,1995,127,8.6,David Fincher,Morgan Freeman,1445096,100125643.0,65.0
Drama,It's a Wonderful Life,1946,130,8.6,Frank Capra,James Stewart,405801,82385199.0,89.0
Horror,Get Out,2017,104,7.7,Jordan Peele,Daniel Kaluuya,492851,176040665.0,85.0
Mystery,Sleuth,1972,138,8.0,Joseph L. Mankiewicz,Laurence Olivier,44748,4081254.0,NaN

In [62]:
# get group

genres.get_group('Horror')

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
49,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
75,Alien,1979,117,Horror,8.4,Ridley Scott,Sigourney Weaver,787806,78900000.0,89.0
271,The Thing,1982,109,Horror,8.1,John Carpenter,Kurt Russell,371271,13782838.0,57.0
419,The Exorcist,1973,122,Horror,8.0,William Friedkin,Ellen Burstyn,362393,232906145.0,81.0
544,Night of the Living Dead,1968,96,Horror,7.9,George A. Romero,Duane Jones,116557,89029.0,89.0
707,The Innocents,1961,100,Horror,7.8,Jack Clayton,Deborah Kerr,27007,2616000.0,88.0
724,Get Out,2017,104,Horror,7.7,Jordan Peele,Daniel Kaluuya,492851,176040665.0,85.0
844,Halloween,1978,91,Horror,7.7,John Carpenter,Donald Pleasence,233106,47000000.0,87.0
876,The Invisible Man,1933,71,Horror,7.7,James Whale,Claude Rains,30683,298791505.0,87.0
932,Saw,2004,103,Horror,7.6,James Wan,Cary Elwes,379020,56000369.0,46.0
948,The Others,2001,101,Horror,7.6,Alejandro Amenábar,Nicole Kidman,337651,96522687.0,74.0

In [63]:
movies[movies['Genre'] == 'Horror']

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
49,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
75,Alien,1979,117,Horror,8.4,Ridley Scott,Sigourney Weaver,787806,78900000.0,89.0
271,The Thing,1982,109,Horror,8.1,John Carpenter,Kurt Russell,371271,13782838.0,57.0
419,The Exorcist,1973,122,Horror,8.0,William Friedkin,Ellen Burstyn,362393,232906145.0,81.0
544,Night of the Living Dead,1968,96,Horror,7.9,George A. Romero,Duane Jones,116557,89029.0,89.0
707,The Innocents,1961,100,Horror,7.8,Jack Clayton,Deborah Kerr,27007,2616000.0,88.0
724,Get Out,2017,104,Horror,7.7,Jordan Peele,Daniel Kaluuya,492851,176040665.0,85.0
844,Halloween,1978,91,Horror,7.7,John Carpenter,Donald Pleasence,233106,47000000.0,87.0
876,The Invisible Man,1933,71,Horror,7.7,James Whale,Claude Rains,30683,298791505.0,87.0
932,Saw,2004,103,Horror,7.6,James Wan,Cary Elwes,379020,56000369.0,46.0
948,The Others,2001,101,Horror,7.6,Alejandro Amenábar,Nicole Kidman,337651,96522687.0,74.0

In [64]:
genres.groups   # gives all the index positions of the items of the movies

{'Action': [2, 5, 8, 10, 13, 14, 16, 29, 30, 31, 39, 42, 44, 55, 57, 59, 60, 63, 68, 72, 106, 109, 129, 130, 134, 140, 142, 144, 152, 155, 160, 161, 166, 168, 171, 172, 177, 181, 194, 201, 202, 216, 217, 223, 224, 236, 241, 262, 275, 294, 308, 320, 325, 326, 331, 337, 339, 340, 343, 345, 348, 351, 353, 356, 357, 362, 368, 369, 375, 376, 390, 410, 431, 436, 473, 477, 479, 482, 488, 493, 496, 502, 507, 511, 532, 535, 540, 543, 564, 569, 570, 573, 577, 582, 583, 602, 605, 608, 615, 623, ...], 'Adventure': [21, 47, 93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209, 226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361, 366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514, 537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681, 686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912, 919, 947, 957, 964, 966, 984, 991], 'Animation': [23, 43, 46, 56, 58, 61, 66, 70, 101, 135, 146, 151, 158, 170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330, 332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469, 499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640, 643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771, 783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956, 971, 976, 986, 992], 'Biography': [7, 15, 18, 35, 38, 54, 102, 107, 131, 139, 147, 157, 159, 173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298, 317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416, 418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606, 614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748, 753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858, 877, 882, 897, 910, 915, 923, 940, 949, 952, 987], 'Comedy': [19, 26, 51, 52, 64, 78, 83, 95, 96, 112, 117, 120, 127, 128, 132, 153, 169, 183, 192, 204, 207, 208, 214, 221, 233, 238, 240, 250, 251, 252, 256, 261, 266, 277, 284, 311, 313, 316, 318, 322, 327, 374, 379, 381, 392, 396, 403, 413, 414, 417, 427, 435, 445, 446, 449, 455, 459, 460, 463, 464, 466, 471, 472, 475, 481, 490, 494, 500, 503, 509, 526, 528, 530, 531, 533, 538, 539, 541, 547, 557, 558, 562, 563, 565, 574, 591, 593, 594, 598, 613, 626, 630, 660, 662, 667, 679, 680, 683, 687, 701, ...], 'Crime': [1, 3, 4, 6, 22, 25, 27, 28, 33, 37, 41, 71, 77, 79, 86, 87, 103, 108, 111, 113, 123, 125, 133, 136, 162, 163, 164, 165, 180, 186, 187, 189, 198, 222, 232, 239, 255, 257, 287, 288, 299, 305, 335, 363, 364, 380, 384, 397, 437, 438, 441, 442, 444, 450, 451, 465, 474, 480, 485, 487, 505, 512, 519, 520, 523, 527, 546, 556, 560, 584, 597, 603, 607, 611, 621, 639, 653, 664, 669, 676, 695, 708, 723, 762, 763, 767, 775, 791, 795, 802, 811, 823, 827, 833, 885, 895, 921, 922, 926, 938, ...], 'Drama': [0, 9, 11, 17, 20, 24, 32, 34, 36, 40, 45, 50, 53, 62, 65, 67, 73, 74, 76, 80, 82, 84, 85, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100, 104, 105, 121, 122, 124, 126, 138, 141, 143, 148, 149, 150, 154, 156, 167, 174, 175, 182, 184, 185, 188, 190, 195, 196, 199, 200, 203, 206, 210, 225, 227, 234, 237, 244, 248, 249, 253, 254, 258, 259, 260, 264, 265, 268, 269, 272, 274, 278, 279, 280, 283, 285, 286, 289, 291, 292, 293, 295, 296, 297, 302, 303, 307, 310, 312, 314, 315, ...], 'Family': [688, 698], 'Fantasy': [321, 568], 'Film-Noir': [309, 456, 712], 'Horror': [49, 75, 271, 419, 544, 707, 724, 844, 876, 932, 948], 'Mystery': [69, 81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961], 'Thriller': [700], 'Western': [12, 48, 115, 691]}

In [65]:
# describe

genres.describe()

          Runtime                                                              \
            count        mean        std    min     25%    50%     75%    max
Genre
Action      172.0  129.046512  28.500706   45.0  110.75  127.5  143.25  321.0
Adventure    72.0  134.111111  33.317320   88.0  109.00  127.0  149.00  228.0
Animation    82.0   99.585366  14.530471   71.0   90.00   99.5  106.75  137.0
Biography    88.0  136.022727  25.514466   93.0  120.00  129.0  146.25  209.0
Comedy      155.0  112.129032  22.946213   68.0   96.00  106.0  124.50  188.0
Crime       107.0  126.392523  27.689231   80.0  106.50  122.0  141.50  229.0
Drama       289.0  124.737024  27.740490   64.0  105.00  121.0  137.00  242.0
Family        2.0  107.500000  10.606602  100.0  103.75  107.5  111.25  115.0
Fantasy       2.0   85.000000  12.727922   76.0   80.50   85.0   89.50   94.0
Film-Noir     3.0  104.000000   4.000000  100.0  102.00  104.0  106.00  108.0
Horror       11.0  102.090909  13.604812   71.0   98.00  103.0  109.00  122.0
Mystery      12.0  119.083333  14.475423   96.0  110.75  117.5  130.25  138.0
Thriller      1.0  108.000000        NaN  108.0  108.00  108.0  108.00  108.0
Western       4.0  148.250000  17.153717  132.0  134.25  148.0  162.00  165.0

          IMDB_Rating            ...         Gross              Metascore  \
                count      mean  ...           75%          max     count
Genre                            ...
Action          172.0  7.949419  ...  2.674437e+08  936662225.0     143.0
Adventure        72.0  7.937500  ...  1.998070e+08  874211619.0      64.0
Animation        82.0  7.930488  ...  2.520612e+08  873839108.0      75.0
Biography        88.0  7.938636  ...  9.829924e+07  753585104.0      79.0
Comedy          155.0  7.901290  ...  8.107809e+07  886752933.0     125.0
Crime           107.0  8.016822  ...  7.102163e+07  790482117.0      87.0
Drama           289.0  7.957439  ...  1.164461e+08  924558264.0     241.0
Family            2.0  7.800000  ...  3.273329e+08  435110554.0       2.0
Fantasy           2.0  8.000000  ...  4.182577e+08  445151978.0       0.0
Film-Noir         3.0  7.966667  ...  6.273068e+07  123353292.0       3.0
Horror           11.0  7.909091  ...  1.362817e+08  298791505.0      11.0
Mystery          12.0  7.975000  ...  1.310949e+08  474203697.0       8.0
Thriller          1.0  7.800000  ...  1.755074e+07   17550741.0       1.0
Western           4.0  8.350000  ...  1.920000e+07   31800000.0       4.0


                mean        std   min    25%   50%    75%    max
Genre
Action     73.419580  12.421252  33.0  65.00  74.0  82.00   98.0
Adventure  78.437500  12.345393  41.0  69.75  80.5  87.25  100.0
Animation  81.093333   8.813646  61.0  75.00  82.0  87.50   96.0
Biography  76.240506  11.028187  48.0  70.50  76.0  84.50   97.0
Comedy     78.720000  11.829160  45.0  72.00  79.0  88.00   99.0
Crime      77.080460  13.099102  47.0  69.50  77.0  87.00  100.0
Drama      79.701245  12.744687  28.0  72.00  82.0  89.00  100.0
Family     79.000000  16.970563  67.0  73.00  79.0  85.00   91.0
Fantasy          NaN        NaN   NaN    NaN   NaN    NaN    NaN
Film-Noir  95.666667   1.527525  94.0  95.00  96.0  96.50   97.0
Horror     80.000000  15.362291  46.0  77.50  87.0  88.50   97.0
Mystery    79.125000  18.604435  52.0  65.25  77.0  98.50  100.0
Thriller   81.000000        NaN  81.0  81.00  81.0  81.00   81.0
Western    78.250000   9.032349  69.0  72.75  77.0  82.50   90.0

[14 rows x 40 columns]

In [66]:
movies.describe()

           Runtime  IMDB_Rating   No_of_Votes         Gross   Metascore
count  1000.000000  1000.000000  1.000000e+03  1.000000e+03  843.000000
mean    122.891000     7.949300  2.736929e+05  1.282781e+08   77.971530
std      28.093671     0.275491  3.273727e+05  2.011110e+08   12.376099
min      45.000000     7.600000  2.508800e+04  1.305000e+03   28.000000
25%     103.000000     7.700000  5.552625e+04  5.012919e+06   70.000000
50%     119.000000     7.900000  1.385485e+05  3.953432e+07   79.000000
75%     137.000000     8.100000  3.741612e+05  1.615997e+08   87.000000
max     321.000000     9.300000  2.343110e+06  9.366622e+08  100.000000

In [67]:
# sample

genres.sample()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
262,Jurassic Park,1993,127,Action,8.1,Steven Spielberg,Sam Neill,867615,402453882.0,68.0
884,The Peanut Butter Falcon,2019,97,Adventure,7.6,Tyler Nilson,Michael Schwartz,66346,13122642.0,70.0
43,The Lion King,1994,88,Animation,8.5,Roger Allers,Rob Minkoff,942045,422783777.0,88.0
157,Der Untergang,2004,156,Biography,8.2,Oliver Hirschbiegel,Bruno Ganz,331308,5509040.0,82.0
679,Ferris Bueller's Day Off,1986,103,Comedy,7.8,John Hughes,Matthew Broderick,321382,70136369.0,61.0
86,Andhadhun,2018,139,Crime,8.3,Sriram Raghavan,Ayushmann Khurrana,71875,1373943.0,NaN
352,My Name Is Khan,2010,165,Drama,8.0,Karan Johar,Shah Rukh Khan,98575,4018695.0,50.0
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
456,The Maltese Falcon,1941,100,Film-Noir,8.0,John Huston,Humphrey Bogart,148928,2108060.0,96.0
932,Saw,2004,103,Horror,7.6,James Wan,Cary Elwes,379020,56000369.0,46.0
119,Vertigo,1958,128,Mystery,8.3,Alfred Hitchcock,James Stewart,364368,3200000.0,100.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
48,Once Upon a Time in the West,1968,165,Western,8.5,Sergio Leone,Henry Fonda,302844,5321508.0,80.0

In [68]:
genres.sample(2)

ValueError: Cannot take a larger sample than population when 'replace=False'

In [ ]:
genres.sample(2, replace=True)

In [ ]:
genres.nunique()

In [ ]:
# agg method
# passing dict

genres.sum()

In [ ]:
genres.agg({
    'Runtime': 'mean',
    'IMDB_Rating' : 'mean',
    'No_of_Votes' :  'sum',
    'Gross' : 'sum',
    'Metascore' : 'max'
})

In [ ]:
# passing list
genres.agg(['min', 'max', 'mean', 'sum'])

In [ ]:
# passing both list and dict

genres.agg(
{
    'Runtime': 'mean',
    'IMDB_Rating' : 'mean',
    'No_of_Votes' :  'sum',
    'Gross' : 'sum',
    'Metascore' : ['min', 'max', 'mean', 'sum']
})

## looping on group

In [ ]:
for group,data in genres:
    print(group)
    print(data)

In [ ]:
# find the highest rated movie of each genre

df = pd.DataFrame(columns=movies.columns)
for group,data in genres:
    df = df.append(data[data['IMDB_Rating'] == data['IMDB_Rating'].max()])

In [ ]:
df

## apply

In [ ]:
# split (apply) combine
# apply -> built in function

genres.apply(min)

In [ ]:
# find number of movies starts with A for each group

def foo(group):
    print(type(group))
    print(group)
    return foo

In [ ]:
genres.apply(foo)

In [ ]:
def foo(group):
     return group['Series_Title'].str.startswith('A').sum()

In [ ]:
genres.apply(foo)

In [ ]:
movies[movies['Series_Title'].str.startswith('A')].value_counts(subset='Genre')

In [ ]:
# find ranking of each movies in the group according to the IMDB Score

def movieRank(group):
    group['Genre_Rating'] = group['IMDB_Rating'].rank(ascending = False)
    return group

In [ ]:
genres.apply(movieRank)

In [ ]:
# Find the normalized rating of each movie with respect to the genre group

def normal(group):
    group['Normal_Rating']  =  (group['IMDB_Rating'] - group['IMDB_Rating'].min())/(group['IMDB_Rating'].max() - group['IMDB_Rating'].min())
    return group

In [ ]:
genres.apply(normal)

## groupby on multiple colums

In [ ]:
# group by multiple groups

duo = movies.groupby(['Genre', 'Director'])

In [ ]:
duo

In [ ]:
duo.size()

In [ ]:
# find the most earning genre - > director combo

duo['Gross'].sum().sort_values(ascending = False).head(1)

In [ ]:
# find the best(in-terms of metascore(avg)) actor-genre combo
movies.groupby(['Star1', 'Genre'])['Metascore'].mean().reset_index().sort_values('Metascore', ascending = False).head(10)

In [69]:
# agg on multiple columns

duo

In [71]:
duo.agg(['mean', 'min', 'max'])

/var/folders/rp/2_w2b1y50nxdpmt9x9_j7nfr0000gn/T/ipykernel_1255/864200899.py:1: FutureWarning: ['Series_Title', 'Released_Year', 'Star1'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  duo.agg(['mean', 'min', 'max'])

                                   Runtime           IMDB_Rating            \
                                      mean  min  max        mean  min  max
Genre    Director
Action   Abhishek Chaubey       148.000000  148  148    7.800000  7.8  7.8
         Aditya Dhar            138.000000  138  138    8.200000  8.2  8.2
         Akira Kurosawa         143.750000   96  207    8.275000  8.1  8.6
         Alejandro G. Iñárritu  156.000000  156  156    8.000000  8.0  8.0
         Andrew Davis           130.000000  130  130    7.800000  7.8  7.8
...                                    ...  ...  ...         ...  ...  ...
Mystery  Sujoy Ghosh            122.000000  122  122    8.100000  8.1  8.1
         Terry Gilliam          129.000000  129  129    8.000000  8.0  8.0
Thriller Terence Young          108.000000  108  108    7.800000  7.8  7.8
Western  Clint Eastwood         135.000000  135  135    7.800000  7.8  7.8
         Sergio Leone           152.666667  132  165    8.533333  8.3  8.8

                               No_of_Votes                         Gross  \
                                      mean     min     max          mean
Genre    Director
Action   Abhishek Chaubey         27175.00   27175   27175  2.184283e+08
         Aditya Dhar              43444.00   43444   43444  4.186168e+06
         Akira Kurosawa          143134.25   33044  315744  3.317610e+08
         Alejandro G. Iñárritu   705589.00  705589  705589  1.836379e+08
         Andrew Davis            267684.00  267684  267684  1.838758e+08
...                                    ...     ...     ...           ...
Mystery  Sujoy Ghosh              57806.00   57806   57806  1.035953e+06
         Terry Gilliam           578443.00  578443  578443  5.714146e+07
Thriller Terence Young            27733.00   27733   27733  1.755074e+07
Western  Clint Eastwood           65659.00   65659   65659  3.180000e+07
         Sergio Leone            408002.00  232772  688390  8.807169e+06

                                                          Metascore        \
                                        min          max       mean   min
Genre    Director
Action   Abhishek Chaubey       218428303.0  218428303.0        NaN   NaN
         Aditya Dhar              4186168.0    4186168.0        NaN   NaN
         Akira Kurosawa            269061.0  848120995.0  97.000000  96.0
         Alejandro G. Iñárritu  183637894.0  183637894.0  76.000000  76.0
         Andrew Davis           183875760.0  183875760.0  87.000000  87.0
...                                     ...          ...        ...   ...
Mystery  Sujoy Ghosh              1035953.0    1035953.0        NaN   NaN
         Terry Gilliam           57141459.0   57141459.0  74.000000  74.0
Thriller Terence Young           17550741.0   17550741.0  81.000000  81.0
Western  Clint Eastwood          31800000.0   31800000.0  69.000000  69.0
         Sergio Leone             5321508.0   15000000.0  81.333333  74.0


                                 max
Genre    Director
Action   Abhishek Chaubey        NaN
         Aditya Dhar             NaN
         Akira Kurosawa         98.0
         Alejandro G. Iñárritu  76.0
         Andrew Davis           87.0
...                              ...
Mystery  Sujoy Ghosh             NaN
         Terry Gilliam          74.0
Thriller Terence Young          81.0
Western  Clint Eastwood         69.0
         Sergio Leone           90.0

[749 rows x 15 columns]

# Practice Problems

In [72]:
ipl = pd.read_csv('/Users/ishaqbasha/Machine_Learning/Campus_X/campusxdatascience/Pandas/Pandas_DataSets/deliveries.csv')

In [73]:
ipl.sample(5)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
164879,11137,2,Chennai Super Kings,Royal Challengers Bangalore,5,2,AT Rayudu,SK Raina,YS Chahal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
102342,432,1,Sunrisers Hyderabad,Royal Challengers Bangalore,13,3,CL White,NLTC Perera,M Kartik,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
41701,177,2,Delhi Daredevils,Kings XI Punjab,19,2,M Manhas,G Gambhir,YA Abdulla,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5479,23,2,Gujarat Lions,Kolkata Knight Riders,13,6,SK Raina,RA Jadeja,UT Yadav,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
71144,302,2,Royal Challengers Bangalore,Chennai Super Kings,5,1,V Kohli,CH Gayle,R Ashwin,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [74]:
ipl.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [75]:
# Find top 10 batsmans who scored runs
batsmans = ipl.groupby('batsman')

In [79]:
batsmans['batsman_runs'].sum().sort_values(ascending = False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

In [92]:
# find the batsman with max no of sixes

sixes = pd.Series(dtype='int64')
for group, data in batsmans:
    sixes[group] = (data['batsman_runs'] == 6).sum()

In [95]:
sixes.sort_values(ascending = False).head(1)

CH Gayle    327
dtype: int64

In [99]:
# other way to solve the above problem

six = ipl[ipl['batsman_runs'] == 6]
six.value_counts('batsman')

batsman
CH Gayle          327
AB de Villiers    214
MS Dhoni          207
SK Raina          195
RG Sharma         194
                 ...
CK Langeveldt       1
JDS Neesham         1
SK Trivedi          1
D Shorey            1
MN van Wyk          1
Length: 336, dtype: int64

In [104]:
six.groupby('batsman')['batsman'].count().sort_values(ascending=False)

batsman
CH Gayle          327
AB de Villiers    214
MS Dhoni          207
SK Raina          195
RG Sharma         194
                 ...
CK Langeveldt       1
JDS Neesham         1
SK Trivedi          1
D Shorey            1
MN van Wyk          1
Name: batsman, Length: 336, dtype: int64

In [106]:
six.groupby('batsman').size().sort_values(ascending=False)

batsman
CH Gayle          327
AB de Villiers    214
MS Dhoni          207
SK Raina          195
RG Sharma         194
                 ...
CK Langeveldt       1
JDS Neesham         1
SK Trivedi          1
D Shorey            1
MN van Wyk          1
Length: 336, dtype: int64

In [118]:
# find batsman with most number of 4's and 6's in last 5 overs
new_data = ipl[((ipl['batsman_runs'] == 6) | (ipl['batsman_runs'] == 4)) & (ipl['over'] > 15)]

In [121]:
new_data.groupby('batsman')['batsman'].count().sort_values(ascending = False)

batsman
MS Dhoni          340
AB de Villiers    208
RG Sharma         208
KA Pollard        206
V Kohli           160
                 ...
KC Cariappa         1
Shivam Sharma       1
Shoaib Malik        1
T Curran            1
KJ Abbott           1
Name: batsman, Length: 360, dtype: int64

In [122]:
# find virat kohli's record against all teams

vkMatches = ipl[ipl['batsman'] == 'V Kohli']

In [124]:
vkMatches.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2590,12,1,Royal Challengers Bangalore,Mumbai Indians,1,2,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
2591,12,1,Royal Challengers Bangalore,Mumbai Indians,1,3,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2593,12,1,Royal Challengers Bangalore,Mumbai Indians,1,5,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2594,12,1,Royal Challengers Bangalore,Mumbai Indians,1,6,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2597,12,1,Royal Challengers Bangalore,Mumbai Indians,2,1,V Kohli,CH Gayle,Harbhajan Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [129]:
vkMatches.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [133]:
vkMatches.groupby('bowling_team').agg('sum').reset_index()

,bowling_team,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
0,Chennai Super Kings,632494,896,5830,2230,0,14,4,8,2,0,749,28,777
1,Deccan Chargers,51025,383,2908,843,0,12,0,4,1,0,306,17,323
2,Delhi Capitals,565992,67,391,161,0,0,0,2,0,0,66,2,68
3,Delhi Daredevils,724543,855,5654,1905,0,13,0,11,2,0,763,26,789
4,Gujarat Lions,74886,188,1748,643,0,3,0,1,0,0,283,4,287
5,Kings XI Punjab,1197094,665,4043,1749,0,17,0,3,5,0,636,25,661
6,Kochi Tuskers Kerala,13888,104,377,198,0,1,0,0,0,0,50,1,51
7,Kolkata Knight Riders,1958511,774,4740,1780,0,3,0,6,1,0,675,10,685
8,Mumbai Indians,1296230,755,4638,1679,0,17,0,5,2,0,628,24,652
9,Pune Warriors,33486,120,1200,347,0,1,0,0,0,0,128,1,129
10,Rajasthan Royals,786503,516,2668,1183,0,7,1,4,0,0,370,12,382
11,Rising Pune Supergiant,1907,134,525,203,0,0,0,0,0,0,83,0,83
12,Rising Pune Supergiants,76878,186,1383,442,0,11,0,1,1,0,188,13,201
13,Sunrisers Hyderabad,676581,552,2900,1365,2,19,0,0,0,0,509,19,528

In [154]:
# create a function that can return the highest score of any batsman using groupby

def highest(player):
    temp_batsman = ipl[ipl['batsman'] == player]
    return temp_batsman.groupby('match_id')['batsman_runs'].sum().sort_values(ascending = False)

In [155]:
highest('V Kohli')

match_id
626      113
620      109
611      108
11326    100
595      100
        ...
633        0
481        0
488        0
27         0
90         0
Name: batsman_runs, Length: 169, dtype: int64